.restaurant-index {
    /* width: 100%; */
}

.compact-search {
    display: block;
    position: absolute;
    top: 50px;
    height: 80px;
    width: 100%;
    background-color: #2d333f;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.compact-search .search-container {
    margin-top: 0;
}

.restaurant-index-main {
    position: absolute;
    width: 80%;
    top: 150px;
    left: 10%;
    right: 10%;
    display: flex;
}

.restaurants-loading {
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.sidebar, .restaurants {
    display: block;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.sidebar-divider {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar-spacer {
    height: 20px;
    width: 100%;
}

.option {
    font-size: 14px;
}

.option input {
    width: 12px;
}

.price-options {
    margin-top: 5px;
    justify-self: center;
    display: flex;
    cursor: pointer;
}

.price-option-container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid gray;
    border-right: none;
    padding: 10px 10px 5px;
    overflow: hidden;
}

.price-option-container:hover {
    background-color: lightgray;
}

.first {
    border-radius: 5px 0 0 5px;
}

.last {
    border-right: 1px solid gray;
    border-radius: 0 5px 5px 0;
}

.toggled {
    background-color: #237b98;
    color: white;
}

.toggled:hover {
    color: black;
}

.restaurants {
    width: 650px;
    margin-left: 10px;
}

.restaurants p {
    font-size: 14px;
}

.restaurant {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: top;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.restaurant img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
}

.restaurant a {
    font-size: 18px;
    color: #247f9e;
}

.restaurant-info {
    margin-left: 20px;
}

.fa-star {
    color: lightgray;
}

.gold-star {
    color: rgb(243, 213, 40);
};

.restaurant-desc {
    /* font-size: 12px; */
}

.restaurant-desc li {
    font-size: 12px;
    padding: 10px 0;
    display: inline;
    padding-right: 15px;
}

.loading-clock {
    margin-top: 20px;
    height: 200px;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .compact-search {
        height: 10px;
    }

    .compact-search .search-container {
        display: none;
    }

    .restaurant-index-main {
        top: 60px;
    }
}