.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    height: auto;
    width: 503px;
}

.session-form-container {
    position: relative;
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.session-form-container button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.session-form-container input {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    width:440px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
}

.session-form-container h2 {
    padding: 20px 0;
    font-size: 20px;
    margin-bottom: -10px;
}

.divider {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin-bottom: 20px;
}

.session-form-box {
    font-size: 14px;
    width: 100%;
}

.session-options {
    width: 100%;
    margin-top: 20px;
    display: block;
}

.other-form-link {
    color: #bf1722;
    cursor: pointer;
}

.demo-button {
    background-color: white;
    border: 1px solid gray;
    color: black;
    transition: 0.5s;
    margin-top: 5px;
    margin-bottom: 20px;
}

.demo-button:hover {
    border: 1px solid #bf1722;
    background-color: white;
}

.session-options p {
    font-size: 14px;
}

.error {
    color: #bf1722;
}

