.res-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.res-button {
    width: 80px;
    padding: 10px;
    margin: 0 10px 10px 0;
}

.res-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.res-inactive {
    background-color: lightgray;
    color: lightgray;
}

.res-inactive:hover {
    background-color: lightgray;
    color: lightgray;
}
