.search-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    line-height: 1.5;
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
}

.time-selector,
.party-selector,
.date-selector {
    width: 125px;
    background-color: white;
    padding: 10px 0 10px 27px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.far {
    position: absolute;
    z-index: 5;
    top: 11px;
    left: 10px;
}


.date-input {
    cursor: pointer;
}

.party-option {
    padding: 10px 0px 5px 27px;
    background-color: white;
}

.party-option:hover {
    background-color: lightgray;
}

.party-options {
    position: absolute;
    align-self: flex-start;
    left: 306px;
    width: 152px;
    top: 1px;
    border-radius: 0 5px 5px;
    overflow: hidden;
    z-index: 3;
}

.search-bar {
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    cursor: text;
}

.party-selector {
    border-radius: 0 5px 5px 0;
}

.date-selector {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid lightgray;
}

.time-selector {
    border-right: 1px solid lightgray;
}

.search-button {
    margin-left: 10px;
    padding: 9.5px;
    font-size: 16px;
}

.search-input,
.date-input {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    border: none;
    font-size: 14px;
    width: 100%;
}

.react-datepicker {
    background-color: white;
    cursor: pointer;
    padding: 10px;
    margin-top: -2px;
    margin-left: -10px;
    position: absolute;
    left: -17px;
    top: 3px;
    border-radius: 0 0 5px 5px;
    z-index: 5;
}

.react-datepicker__week {
    display: flex;
    justify-content: center;
}

.react-datepicker__current-month {
    text-align: center;
    margin-bottom: 5px;
}

.react-datepicker__navigation {
    position: absolute;
}

.react-datepicker__navigation--next {
    right: 10px;
}

.react-datepicker__day-names {
    display: flex;
    justify-content: space-around;
    color: gray;
    border-bottom: 1px solid darkgray;
    margin-bottom: 5px;
}

.react-datepicker__day {
    font-size: 12px;
    width: 20px;
    height: 20px;
    padding: 6px 4px 1px 4px;
    border-radius: 15px;
    text-align: center;
}

.react-datepicker__day:hover {
    background-color: lightgray;
}

.react-datepicker__day--selected {
    background-color: #bf1722;
    color: white;
}

.react-datepicker__day--selected:hover {
    background-color: #7e0e16;
}

.react-datepicker__day--outside-month {
    color: gray;
}

.react-datepicker--time-only {
    padding: 0;
    width: 150px;
    position: absolute;
    left: -17px;
    top: 5px;
    border-radius: 0 0 5px 5px;
    /* overflow: hidden; */
}

.react-datepicker__time {
    height: 300px;
    overflow: scroll;
}

.react-datepicker__time-list-item {
    padding: 10px 0px 5px 27px;
}

.react-datepicker__time-list-item:hover {
    background-color: lightgray;
}

@media only screen and (max-width: 800px) {
    .search-input,
    .search-bar {
        display: none;
    }
}

/* @media only screen and (max-width: 600px) {
    .date-selector, 
    .time-selector,
    .party-selector,
    .search-button {
        width: 80%;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }

    .fa-clock {
        top:57px;
        left: 10px;
    }

    .fa-user {
        top: 102px;
        left: 10px;
    }
} */