.search-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: black;
    line-height: 1.5;
}

.time-selector,
.party-selector {
    width: 125px;
    overflow: hidden;
    background-color: white;
}

.time-option,
.party-option {
    padding: 10px;
    padding-bottom: 5px;
    cursor: default;
    background-color: white;
}

.time-option {
    border-right: 1px solid lightgray;
}

.time-option:hover,
.party-option:hover {
    background-color: lightgray;
}

.time-box {
    border-radius: 5px;
}

.time-box:hover {
    background-color: white;
}

.date-field {
    padding: 10px;
    padding-bottom: 5px;
    width: 125px;
    border-radius: 5px 0 0 5px;
    background-color: white;
    border-right: 1px solid lightgray;
}

.search-bar {
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
}

.party-selector {
    border-radius: 0 5px 5px 0;
}